# igonre everything starting from current folder
# /*
**/.DS_Store
**/*.xcodeproj/
*.xcuserstate
**/Products/

# white list
!.gitignore
!*.swift
# **/ match directories and its files anywhere
!**/Asset.xcassets/

!README.md
